<div class="container">
  <div class="row text-center">
    <div class="col">
      <img
        src="img/zaitun.png"
        alt="logo"
        class="img-thumbnail rounded-circle"
      />
      <h1 class="display-4">Zaitun Edutech</h1>
      <p class="lead">education consultant | web developer</p>
    </div>
  </div>
</div>
